.promo {

    color: #fff;
    min-height: 100vh;
    position: relative;
    background: transparent;
    padding: 45px 0px 167px 0px;
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-top: 230px;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }
    &__btn {
        position: relative;
        display: block;
        width: 325px;
        height: 62px;
        border: 2px solid #fff;
        margin: 130px auto;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        text-align: left;
        padding: 17px 10px 10px 13px;
        text-decoration: none;
        display: block;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
            &:hover {
                text-decoration: none;
                color: #fff;
                background: #000;
                transition: all 0.5s ease;
            }
    }
    svg {
        position: absolute;
        top: 14px;
        right: 31px;
      }
}

.menu {
   
    margin-left: 735px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

  
    &__item{
        &_link{
            font-size: 18px;
            display: block;
            color: #fff;
            text-decoration: none;
            &:hover {
                background: #fff;
                color: #000;
                text-decoration: none;
                transition: all 0.5s ease;
                padding: 5px 0px 5px 0px;
            }
        }
    }
}